body {
  background-color: hsl(13deg 100% 98.49%);
}

.dessertImage {
  border: 3px solid seagreen;
}
.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
