/* Note to self: ToDO clean up and refactor the code */

:root {
  --primayColor: hsl(14, 86%, 42%);
}

@font-face {
  font-family: "MainHeading";
  src: url(../assets/fonts/static/RedHatText-Bold.ttf);
}

@font-face {
  font-family: "DisplayBoldSubheader";
  src: url(../assets/fonts/static/RedHatText-Regular.ttf);
}

@font-face {
  font-family: "DisplayTitleSubheader";
  src: url(../assets/fonts/static/RedHatText-SemiBold.ttf);
}

body {
  background-color: hsl(13, 31%, 94%);
  margin: 100px;
}

main {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
}

h1 {
  font-family: "MainHeading";
}

section h1 {
  font-size: 50px;
  margin-top: -4px;
}

/* styling default desktop */
.dessertsMenu {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.dessertType {
  color: hsl(7, 20%, 60%);
}

.dessertName {
  font-size: 16px;
  line-height: 3px;
}

.dessertItem {
  font-family: "DisplayBoldSubheader";
  font-size: 11px;
}

.dessertImage {
  height: 20rem;
  border-radius: 8px;
}

.cartSection {
  display: flex;
  flex-direction: column;

  position: relative;
  margin-bottom: 30px;
}

.addToCart {
  width: 150px;
  align-self: center;
  position: absolute;
  bottom: -15px;
  background-color: white;
  font-family: "DisplayTitleSubheader";
  padding: 10px;
  border: 1px gray solid;
  text-align: center;
  border-radius: 30px;
  font-size: 15px;
}

.dessertPrice {
  color: var(--primayColor);
}

.userCart {
  background-color: white;
  width: 400px;
  height: 280px;
  padding: 1px 5px 20px 20px;
  text-align: center;
  border-radius: 15px;
}

.userCart h1 {
  color: var(--primayColor);
  text-align: left;
}

.userCart p {
  color: hsl(12, 20%, 44%);
  font-family: "DisplayTitleSubheader";
}

.attribution {
  font-size: 13px;
  text-align: center;
  margin: 30px;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

/* styling for hovering */

.addToCart:hover {
  color: var(--primayColor);
  border: 1px var(--primayColor) solid;
}

@media (max-width: 414px) {
  body {
    margin: 1rem;
  }
  .dessertsMenu {
    display: block;
    /* grid-template-columns: 1fr;
    gap: 20px; */
  }

  .userCart {
    background-color: white;
    /* width: 400px;
  height: 280px; */
    height: 20rem;
    width: 10rem;
    padding: 1px 5px 20px 20px;
    text-align: center;
    border-radius: 15px;
  }
}
