/* Note to self: ToDO clean up and refactor the code */

:root {
  --primayColor: hsl(14, 86%, 42%);
}

@font-face {
  font-family: "MainHeading";
  src: url(../assets/fonts/static/RedHatText-Bold.ttf);
}

@font-face {
  font-family: "DisplayBoldSubheader";
  src: url(../assets/fonts/static/RedHatText-Regular.ttf);
}

@font-face {
  font-family: "DisplayTitleSubheader";
  src: url(../assets/fonts/static/RedHatText-SemiBold.ttf);
}

@font-face {
  font-family: "testing";
  src: url(../assets/fonts/RedHatText-VariableFont_wght.ttf);
}

body {
  background-color: hsl(13, 31%, 94%);
}

.dessertType {
  color: hsl(7, 20%, 60%);
}

h1 {
  font-family: "MainHeading";
}

.dessertItem {
  font-family: "DisplayBoldSubheader";
}

.dessertImage {
  height: 170px;
  border-radius: 8px;
}

.addToCart {
  background-color: white;
  font-family: "DisplayTitleSubheader";
  padding: 15px;
  border: 1px gray solid;
  text-align: center;
  border-radius: 30px;
  font-size: 15px;
}

.dessertPrice {
  color: var(--primayColor);
}

.userCart {
  background-color: white;
  width: 400px;
  padding: 1px 5px 20px 20px;
  text-align: center;
  border-radius: 15px;
}

.userCart h1 {
  color: var(--primayColor);
  text-align: left;
}

.userCart p {
  color: hsl(12, 20%, 44%);
  font-family: "DisplayTitleSubheader";
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
